:root {
  --fullWidth: 280px;
  --fullHeight: 450px;
  --screenSize: 60px;
  --mobileScreenSize: 40px;
  --buttonFontSize: 25px;
  --row1_backgroundColor: #A5A5A5;
  --functions_backgroundColor: #FEA00A;
  --functions_Color: #FEFFFD;
  --numbers_backgroundColor: #333333;
  --numbers_Color: white;
  --bodyBackground: black;
}
*{
  box-sizing:border-box;
}
::selection {
  background: transparent;
}
.calcBody {
  width:var(--fullWidth);
  height:var(--fullHeight);
  border:2px solid black;
  position: absolute;
  left:calc((100% - var(--fullWidth))* 0.5);
  top:50px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px black;
  overflow: hidden;
  background-color: var(--bodyBackground);
}
.topPart {
  height:calc(var(--fullHeight)/3);
  width: 100%;
  text-align: center;
  position: relative;
  color: var(--numbers_Color);
}
.bottomPart {
  height:calc(66.6% - 1px);
  width: 100%;
}
.screen {
  width: calc(100% - 20px);
  height: var(--screenSize);
  font-size:var(--screenSize);
  line-height: 100%;
  position: absolute;
  left: 10px;
  bottom: 0px;
  color: var(--numbers_Color);
  text-align: end;
  border-bottom: 2px solid var(--numbers_backgroundColor);
  font-family: Helvetica, sans-serif;
  transition: all 0.4s ease-out;
}
.row  {
  width:100%;
  display: flex;
  height: 20%;
}
.calcButton, .calcButton_double {
  height: calc(100% - 12px);
  text-align: center;
  font-size: var(--buttonFontSize);
  display: flex;
  margin: 6px;
}
.calcButton {
  flex:1;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
}
.calcButton_double {
  flex:2;
  border-radius: 30px;
  flex-direction: column;
  justify-content: center;
  padding-right: 12px;
}
#clearAll, #invertPositiveNegative, #percent {
  background-color: var(--row1_backgroundColor );
  color:black;
}
.calculations {
  background-color:var(--functions_backgroundColor);
  color: var(--functions_Color);
  font-weight: bold;
}
.buttonNumbers {
  background-color: var(--numbers_backgroundColor);
  color: var(--numbers_Color);
}
#zero {
  width: 50%;
}
.messages {
  width:var(--fullWidth);
  height: 6%;
  line-height: 20px;
  font-size: 2px;
  position: absolute;
  left:calc((100% - var(--fullWidth))* 0.5);
  top: calc(var(--fullHeight) + 50px);
  padding-top: 20px;
  text-align: center;
  color: white;
  transition: all 0.2s ease-out;
}
#storedTotal_ID {
  height: 30px;
  width: calc(100% - 20px);
  font-size: 30px;
  color: var(--numbers_backgroundColor);
  text-align: right;
  font-weight: bold;
}
.calcButton:active {
  animation-name: btnClick;
  animation-duration: 400ms;
}
@keyframes btnClick {
  
  0% {
    opacity:1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
